@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body, html {
  font-family: "Open Sans", sans-serif;
  //overflow: hidden;
  //overflow: scroll;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

@mixin btn {
  width: 123px;
  height: 54px;
  background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  transition: .4s;
  &:hover {
    transform: scale(1.2);
    border: 2px solid mediumorchid;
    background: transparent;
    color: white;
  }
}

@mixin btn2 {
    width: 119px;
    height: 39px;
    background: linear-gradient(98.94deg, rgba(200, 34, 228, 0.4) 2.52%, rgba(87, 25, 244, 0.4) 92.81%);
    border-radius: 4px;
    border: none;
    color: #eeeeee;
    transition: .7s;
    &:hover {
      transform: scale(1.2);
      border: 2px solid mediumorchid;
      background: transparent;
      color: #eeeeee;
    }
  }

@mixin swiper {
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
  }
}

